<div class="row text-center">
  <div class="col">
    <h1>Son counter</h1>
    <h2> {{ counter }}</h2>
  </div>
</div>
<div class="row text-center">
  <div class="col">
    <button (click)="multiply()" class="btn btn-primary" >Multuply</button>
    <button (click)="divide()" class="btn btn-info" style="margin-left: 10px;">Divide</button>
  </div>
</div>
<!--
<hr>
<div class="row text-center">
  <div class="col">
    <app-nieto [counter]="counter"  (counterChange)="resetFather($event)"></app-nieto>
  </div>
</div>
-->

<hr>
<div class="row text-center">
  <div class="col">
    <app-nieto ></app-nieto>
  </div>
</div>